.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #0000;
  z-index: 1000;
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10vw;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 1.1rem;
}

.lt-gt {
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: clamp(30px, 5vw, 100px);
}

.nav-links a {
  font-size: 1.1rem;
  transition: color 0.2s ease;
}

.logo :hover {
  color: #a9a9a9;
}

.nav-links :hover {
  color: #a9a9a9;
}