:root {
  --primary-color: #8100ff;
  --secondary-color: #9d00ff;
  --background-color: #2f2f2f;
  --text-color: #fffbe2;
  --primary-font: 'Plus Jakarta Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  color: var(--text-color);
}

body {
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

.char {
  display: inline-block;
}